@font-face {
  font-family: OggExtraBold;
  src: url(../../../fonts/OggText-Extrabold-BF646c18fc56511.otf);
}

.hear-container {
  position: relative;
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 4.4em;
}
.hear-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.hear-wrapper h1 {
  font-family: OggExtraBold;
  font-weight: 700;
  font-size: 38px;
  margin-bottom: 2em;
}

.swiper-me {
  max-width: 800px;
  margin: 0 auto;
}
.swiper-me p {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

/* .App {
  position: relative;
} */
.sidecycle {
  position: absolute;
  left: 0;
  bottom: 0;
}
.quote {
  position: absolute;
  left: 200px;
  top: 70px;
}

.slider-comp {
  display: flex;
  align-items: start;
  gap: 1em;
  justify-content: left;
}
.slider-arr{
  display: flex;
  float: left;
}