:root {
<<<<<<< HEAD
  cursor: auto;
=======
  cursor: pointer;
>>>>>>> a7e7851e7937998a94fcbadb2599993c01cdc7e9
}

html *, html *::before, html *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
